.header {
  background: $white;
  padding: 15px;
  border-bottom: 1px solid $gray;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__logo {
  width: 90px;
  margin-right: 15px;
}

.header__search {
  margin-left: 15px;
  display: inline;
  position: relative;
  .header__search {
    width: 321px;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 5px;

    &.header__search--mobile-inactive {
      @include d(s) {
        width: 0px;
        display: none;
      }
    }

    &.header__search--mobile-active {
      @include d(s) {
        width: 190px;
        display: block;
      }
    }
  }

  .header__search--icon {
    position: absolute;
    right: 10px;
    top: 10px;

    &.header__search--icon--mobile-inactive {
      @include d(s) {
        position: initial;
        width: 20px;
      }
    }

    &.header__search--icon--mobile-active {
      @include d(s) {
        position: absolute;
        width: auto;
      }
    }
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__list--item {
  font-size: 14px;
  margin-right: 15px;
}

.header__list--profile {
  width: 40px;
  border-radius: 50%;
}
