.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #cfcaca;
}

.header__logo {
  width: 90px;
  margin-right: 15px;
}

.header__search {
  margin-left: 15px;
  .header__search--icon {
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
