.mobile-menu {
  display: none;
  @include d(s) {
    display: block;
    position: sticky;
    bottom: 0;
    background: $white;
    border-top: 1px solid rgba(207, 202, 202, 0.5);
  }
}

.mobile-menu__item {
  display: flex;
  flex-direction: column;
}
