.text__title {
  font-size: 36px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;

  @include d(s) {
    font-size: 24px;
  }
}

.text__title__small {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.text__subtitle {
  font-size: 18px;
  letter-spacing: -0.2px;

  @include d(s) {
    font-size: 16px;
  }
}

.text__paragraph {
  font-size: 12px;
  display: inline-block;
  max-width: 170px;

  @include d(s) {
    max-width: 95%;
  }
}
