$black: #272b44;
$gray: #cfcaca;
$orange: #f4805d;
$white: #fff;
$green: #069a92;

@font-face {
  font-family: 'MaaxRounded';
  src: url('../fonts/MaaxRounded.eot');
  src: url('../fonts/MaaxRounded.woff2') format('woff2'),
    url('../fonts/MaaxRounded.woff') format('woff'),
    url('../fonts/MaaxRounded.ttf') format('truetype'),
    url('../fonts/MaaxRounded.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
