@import '_variables';
@import '_mixins';
@import '_reset';
@import '_naked.min'; // personalized grid - It's just a normal grid, but lighter than the bootstrap one
@import '_header';
@import '_flex';
@import '_text';
@import '_request';
@import '_footer';
@import '_mobile';
@import '_mobile-menu';

body {
  font-family: 'MaaxRounded';
}

a {
  text-decoration: none;
  color: $black;
  transition: 0.3s ease-in;

  &:hover {
    color: $green;
  }
}
